
body {
  background-color: #F7F3EF;
}
.topo1 {
  display: flex;
  align-items: center;
  background-color: rgb(16, 151, 140);
  border-radius: 25px;
  justify-content: space-around;
  height: 65px;
}

.nounderline {
  text-decoration: none;
  color: white;
  font-size: 25px;
}
#navigation {
  display: flex;
  margin-left: auto;
}

.destaques span{
  margin: 0 60px;
}

.imagemheader {
  border-radius: 20px;
  margin-top: 10px;
}

#marca {
  margin:auto;
}
#logo {
  margin-right: auto;
}

.linkpacotes{
  text-decoration: none;
  color: black;
}

.imagempacotes{ 
  width: 350px; inset: 0px; color: transparent;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#page {
  background-color: white;
  display: flexbox;
  flex-direction: row;
  margin: 50px;
  padding: 20px;
  border-radius: 20px;
}
.container {
  display: flex;
  justify-content:space-between;
  
  background-color: #F7F3EF;
  border-radius: 20px;
  margin-top: 20px;
}

#movenpickinfo {
  display: flexbox;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 1 200px;
  margin-left: 50px;
}

#hideawayinfo {
  display: flexbox;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 1 200px;
  margin-left: 50px;
}

#heritanceinfo {
  display: flexbox;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 1 200px;
  margin-left: 50px;
}

#emeraldinfo {
  display: flexbox;
  flex-wrap: wrap;
  gap: 10px;
  flex: 1 1 200px;
  margin-left: 50px;
}

ul {
  list-style-type: none;

}

li {
  margin-bottom: 8px;
  margin-left: -40px;
}
.preçopacotes{
  background-color: rgb(16, 151, 140);
  width: 300px;
  height: auto;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.preçopacotes p {
  text-align: center;
  margin-top: 40px;
  color: aliceblue;
  font-size: 25px;
}

button a {
  text-decoration: none;
  color: rgb(226, 216, 216);
  
  
}

button {
  background-color: rgb(16, 151, 140);
  height: 40px;
  border-radius: 8px;
  margin: 20px 100px;
  border-color: white;
}
#topo2 {
  background-color: rgb(255, 255, 255);
  margin: 50px;
  border-radius: 20px;
  padding: 25px 100px;
  text-align: center;
}
#topo2 h1 {
  font-size: 34px;
  color: rgb(16, 151, 140)
}

#topo2 p{
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-style: oblique;
}


#footer {
  background-color: rgb(16, 151, 140);
  border-radius: 10px;
  height: 140px;
  display: flex;
  flex-direction: column;
}

#footer p {
  margin-left: 900px;
  margin-top: 30px;
  font-size: 25px;
}

#socialmedia {
  display: flex;
  margin-left: 925px;
}

#


